extends ./layout/index.pug

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt quia totam iure dolor minus corporis! Voluptatibus iusto dolores quam sed minus, distinctio maxime, vel culpa labore iste atque expedita quasi!Libero officia recusandae est voluptatum omnis similique blanditiis exercitationem, reiciendis, suscipit laborum amet natus quos, vero minus! Qui, doloribus beatae praesentium ad, provident soluta aperiam eos dicta sit aut nihil!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae repellendus fugiat ipsam rerum quis voluptatem neque quas consequuntur minus veniam! Earum repellendus sunt provident error corrupti, 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imgen nosotros", class="img-fluid")
            
        include ./layout/bloque_viajes

    .descuento
        .container
            .row 
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales